# Rust
/target
/tests/bench/target
**/*.rs.bk

# Node.js (if any in root)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.idea
.vscode
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# Docker
.dockerignore

# Project specific
error.log
debug.log
